
html, body, #root {
  height: 100%;
}


.normal___2EyWr {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title___3jOEu {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome___2XfgE {
  height: 328px;
  background: url(/static/yay.44dd3333.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list___2MhhI {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list___2MhhI code {
  background: #f7f7f7;
}

.normal___13Zud {
}
